@font-face {
    font-family: 'Atyp Text';
    src: url('/static/fonts/AtypText-Bold.woff2') format('woff2'),
    url('/static/fonts/AtypText-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atyp Text';
    src: url('/static/fonts/AtypText-Medium.woff2') format('woff2'),
    url('/static/fonts/AtypText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


html,
body {
    font-family: 'Atyp Text', sans-serif;
    font-weight: 500;
}
