@import "mixins";

.page-edge {
  position: absolute;
  top: 0;
  right: 0;

  z-index: 1000;
}

.task-description {
  position: absolute;
  top: 11px;
  left: 17px;

  z-index: 1000;

  @include phone {
    top: 8px;
    left: 8px;
  }
}

.page-preview {
  height: 100%;
  width: 100%;

  &_green {
    background-color: #00D254;
  }

  &_yellow {
    background-color: #FFF27D;
  }

  &_blue {
    background-color: #48AFC6;
  }

  &_black {
    background-color: #000;
  }
}

.cover {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}


.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
  transition: opacity .3s linear;
  opacity: 1;
}

.fade-exit {
  transition: opacity .2s linear;
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.page-main {
  height: 100%;
  width: 100%;
}
