@import "mixins";

.page-edge {
  position: absolute;
  top: 0;
  right: 0;

  z-index: 1000;
}

.task-description {
  position: absolute;
  top: 11px;
  left: 17px;

  z-index: 1000;

  @include phone {
    top: 14px;
    left: 9px;
  }
}

.page-preview {
  height: 100%;
  width: 100%;

  @include animateSlow(background-color);

  &_green {
    background-color: #00D254;
  }

  &_yellow {
    background-color: #FFF174;
  }

  &_blue {
    background-color: #48AFC6;
  }

  &_black {
    background-color: #000;
  }
}

.cover {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}


.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
  transition: opacity .3s linear;
  opacity: 1;
}

.fade-exit {
  transition: opacity .2s linear;
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.page-main {
  height: 100%;
  width: 100%;
}

#magazine{
  width: 800px;
  height: 400px;
}

#magazine .turn-page{
  background-color:#ccc;
}

.hidden {
  opacity: 0;
}


$transition-animating: top 0.7s ease, left 0.7s ease,
transform 0.7s ease, color 0.2s ease-in-out, opacity 0.2s ease-in-out;


.image_animating {
  transition: $transition-animating;
}

.vertical-slide {
  @include animate(opacity);
}

.vertical-slide-prev {
  opacity: 0;
}
