@import "mixins";

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slider {
  position: relative;

  &_active, &_default {
    //top: 40%;
    //left: 50%;
    //transform: translate(-50%, -50%);
  }

  &_next {
    //top: 0;
    //left: 50%;
    //transform: translate(-50%, 0);
  }

  //@include animateSlow(transform);
}

//.swiper-slider_next {
//  .swiper-slide {
//    width: 100% !important;
//  }
//}

.swiper-container-v {
  .swiper-slide {
    height: 60%;
    //height: calc(100% - 104px);
    //border-bottom: 1px solid lightblue;
    //border-left: 1px solid lightblue;
  }
}

.swiper-container-h {
  height: 100%;
  .swiper-slide {
    height: 100%;
    width: 60%;
    //width: calc(100% - 34px);
    //border-bottom: 1px solid pink;
    //border-left: 1px solid pink;

    //height: auto !important;
  }
}

.swiper-container-composition {
  .swiper-slide {
    height: 80%;
  }
}





