@import "../mixins";

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container-v {
  .swiper-slide {
    height: calc(100% - 60px);
  }

  .swiper-slide-active {
    .swiper-slide-next, .swiper-slide-prev {
      opacity: 1;
    }
  }
  .swiper-slide-next {
    .swiper-slide {
      .h-frame-wrapper-next-slide {
        transform: translate(-50%, 0)
      }

      .h-frame-pic-next-slide {
        background-position: center top;
      }
    }

    .swiper-slide-next, .swiper-slide-prev {
     // opacity: 0;
    }
  }
}

.swiper-container-h {
  height: 100%;
  .swiper-slide {
    height: 100%;
  }
}

.swiper-container-composition {
  //.swiper-slide {
  //  height: 100%;
  //}
}

.h-frame {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  transition: transform .5s, opacity .5s;
  box-sizing: border-box;
}

.h-frame_without-transition {
  transition: transform 0s, opacity 0s;
}

.h-frame-wrapper {
  transition: transform .5s;
  /* Здесь можно задать мин. и макс. ширину блоку с содержимым */
}

.h-frame-pic {
  display: block;
  transition: background-position .5s;
}

.h-frame-content {
  opacity: 0;
  transition: opacity .3s;
}

.horizontal .swiper-slide-active .h-frame-content {
  opacity: 1;
}

.v-frame {
  height: 50vh;
}

.swiper-slide-active {
  z-index: 2;
}

.swiper-slide-prev,
.swiper-slide-next {
  z-index: 1;
}

.swiper-slide {
  //cursor: pointer;
  @include animate(opacity);
}

.swiper-prev-el, .swiper-next-el {
  position: absolute;
  height: 100%;
  width: 20%;
  z-index: 1;
  cursor: pointer;
}

.swiper-prev-el {
  top: 0;
  left: 0;
  //background: red;

  @include phone {
    pointer-events: none;
  }

}

.swiper-next-el {
  top: 0;
  right: 0;
  //background: green;

  @include phone {
    pointer-events: none;
  }
}
