@import url("//hello.myfonts.net/count/3ea052");


@font-face {
    font-family: 'Atyp Text';
    font-weight: 500;
    src: url('./AtypTextMedium/font.woff2') format('woff2'), url('./AtypTextMedium/font.woff') format('woff');
}
@font-face {
    font-family: 'Atyp Text';
    font-weight: 700;
    src: url('AtypTextBold/font-bold.woff2') format('woff2'),
    url('AtypTextBold/font-bold.woff') format('woff');
}

