@import url("//hello.myfonts.net/count/3ea052");


@font-face {
    font-family: "AtypText-Medium";
    src: url('./AtypTextMedium/font.woff2') format('woff2'), url('./AtypTextMedium/font.woff') format('woff');
}
@font-face {
    font-family: "AtypText-Bold";
    src: url('./AtypTextBold/font.woff2') format('woff2'), url('./AtypTextBold/font.woff') format('woff');
}

