@import 'mixins';
@import 'colors';

$transition-animating: top 0.5s ease-out, left 0s ease-in-out,
  transform 0.5s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;

$transition-static: top 0s ease-out, left 0s ease-in-out,
  transform 0s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;

.content {
  position: relative;
  height: 100%;
  min-height: 25rem;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__description {
    position: absolute;
    top: 82%;
    width: 450px;
    text-align: center;
    color: $black;
    z-index: 999;

    pointer-events: none;

    @include body-md-medium;

    left: 50%;
    transform: translateX(-50%);

    @include phone {
      top: 82%;
      width: 100%;
      padding: 0 8px;

      @include body-sm-medium;
    }

    @include animate(opacity);
  }
}

.image {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;

  &_blue {
    color: #006c84;
  }

  &_white {
    color: white;
  }
  &_hidden {
    opacity: 0;
  }

  &_car {
    height: 121px;
    width: 270px;
    @include desktop {
      height: 163px;
      width: 364px;
    }
  }

  &_bomb {
    height: 235px;
    width: 236px;

    @include phone {
      height: 175px;
      width: 176px;
    }
  }

  &_rocket {
    height: 270px;
    width: 150px;

    @include phone {
      height: 200px;
      width: 110px;
    }
  }

  will-change: top, left, transform;

  transform: translateZ(0);

  transition: $transition-static;
}

.range-wrapper {
  position: absolute;
  top: 65%;
  width: 270px;
  height: 35px;
  z-index: 300;
  left: 50%;
  transform: translateX(-50%);

  &_vertical {
    height: 270px;
    width: 35px;
    top: 50%;
    right: 70px;
    left: auto;
    transform: translateY(-50%);
  }

  @include phone {
    top: 70%;
    width: 270px;
    height: 35px;

    &_vertical {
      height: 270px;
      width: 60px;
      right: 0;
      top: 50%;
    }
  }
}

.hidden {
  opacity: 0;
}

.thumb {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border-width: 2px;
  border-color: #48afc6;
  border-style: solid;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  &_first-render {
    transform: translate(117.5px, -17.5px);
  }
}
