@import 'mixins';
@import "colors";

.content {
  position: relative;
  height: 100%;
  min-height: 25rem;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.image {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;

  &_car {
    height: 121px;
    width: 270px;
    background-image: url("./img/car.svg");

    @include desktop {
      height: 163px;
      width: 364px;
    }
  }

  &_bomb {
    height: 235px;
    width: 236px;

    background-image: url("./img/bomb.svg");

    @include phone {
      height: 175px;
      width: 176px;
    }

  }

  &_rocket {
    height: 270px;
    width: 150px;

    background-image: url("./img/rocket.svg");

    @include phone {
      height: 200px;
      width: 110px;

    }
  }

  @include animateSlow(top, left, transform);

}

.range-wrapper {
  position: absolute;
  top: 65%;
  width: 270px;
  height: 35px;
  z-index: 300;
  left: 50%;
  transform: translateX(-50%);

  &_vertical {
    height: 270px;
    width: 35px;
    top: 50%;
    right: 70px;
    left: auto;
    transform: translateY(-50%);
  }

  @include phone {
    top: 70%;
    width: 270px;
    height: 35px;


    &_vertical {
      height: 270px;
      width: 35px;
      right: 28px;
      top: 50%;
    }
  }
}
