@import "mixins";

.slide {
  display: flex;
  //flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 100%;
  //width: 100%;

  &__content {
    display: block;
    position: absolute;
    //top: 40%;
    left: 50%;

    transform: translate(-50%, calc(31.7vh - 30px)) translateZ(0);

    @include desktop-xs {
      transform: translate(-50%, calc(30vh - 24px)) translateZ(0);
    }

    @include phone {
      transform: translate(-50%, calc(30vh - 24px)) translateZ(0);
    }


    @include desktop-lg {
      transform: translate(-50%, calc(31.7vh - 30px)) translateZ(0);
    }


    &_next-active {
      transform: translate(-50%, calc(-31.7vh + 30px));

      @include desktop-xs {
        transform: translate(-50%, calc(-30vh + 24px));
      }

      @include phone {
        transform: translate(-50%, calc(-30vh + 24px));
      }

      @include desktop-lg {
        transform: translate(-50%, calc(-31.7vh + 30px));
      }
    }

    &_prev-active {
      bottom: 0;
      opacity: 0;
    }

    $time: 0.3s;

    //will-change: transform;
    //transition: left $time ease-in-out, transform .7s ease-in-out, opacity $time ease-in-out;
  }

  &_hidden {
    opacity: 0;
  }

  &__image {
    position: relative;

    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 199px
    }

    &_rage, &_anorexy, &_rumble {
      margin: 0 auto;
    }

    &_anorexy {
      //width: 703px;
      height: 160px;

      @include phone {
        //width: 200px;
        height: 80px;
      }

      //&_roboto {
      //  background: url("./words_img/anorexy/anorexy_roboto.svg") no-repeat center bottom;
      //  background-size: contain;
      //}
      //
      //&_fence {
      //  background: url("./words_img/anorexy/anorexy_fence.svg") no-repeat center bottom;
      //  background-size: contain;
      //}
      //
      //&_palkerson {
      //  background: url("words_img/anorexy/anorexy_palkerson.png") no-repeat center bottom;
      //  background-size: contain;
      //  //height: 199px;
      //}
      //
      //&_norbert {
      //  background: url("./words_img/anorexy/anorexy_norbert.svg") no-repeat center bottom;
      //  background-size: contain;
      //}
      //
      //&_parmigiano {
      //  background: url("./words_img/anorexy/anorexy_parmigiano.svg") no-repeat center bottom;
      //  background-size: contain;
      //}
      //
      //&_fatum {
      //  background: url("./words_img/anorexy/anorexy_fatum.svg") no-repeat center bottom;
      //  background-size: contain;
      //}
    }

    &_rage {
      //width: 352px;
      height: 120px;

      @include phone {
        //width: 150px;
        height: 100px;
      }

      //&_roboto {
      //  background: url("./words_img/rage/rage_roboto.svg") no-repeat center bottom;
      //  background-size: contain;
      //}
      //
      //&_edwin {
      //  background: url("words_img/rage/rage_edwin.svg") no-repeat center bottom;
      //  background-size: contain;
      //}
      //
      //&_pilar {
      //  background: url("./words_img/rage/rage_pilar.svg") no-repeat center bottom;
      //  background-size: contain;
      //}
      //
      //&_austin {
      //  background: url("./words_img/rage/rage_austin.svg") no-repeat center bottom;
      //  background-size: contain;
      //}
      //
      //&_vast {
      //  background: url("./words_img/rage/rage_vast.svg") no-repeat center bottom;
      //  background-size: contain;
      //}
      //
      //&_druk {
      //  background: url("./words_img/rage/rage_druk.svg") no-repeat center bottom;
      //  background-size: contain;
      //}
    }

    &_rumble {
      //width: 514px;
      height: 120px;

      @include phone {
        //width: 180px;
        height: 100px;
      }

      //&_roboto {
      //  background: url("./words_img/rumble/rumble_roboto.svg") no-repeat center bottom;
      //  background-size: contain;
      //}
      //
      //&_didona {
      //  background: url("./words_img/rumble/rumble_didona.svg") no-repeat center bottom;
      //  background-size: contain;
      //}
      //
      //&_druk {
      //  background: url("./words_img/rumble/rumble_druk.svg") no-repeat center bottom;
      //  background-size: contain;
      //}
      //
      //&_karloff {
      //  background: url("./words_img/rumble/rumble_karloff.svg") no-repeat center bottom;
      //  background-size: contain;
      //}
      //
      //&_cstm {
      //  background: url("./words_img/rumble/rumble_cstm.svg") no-repeat center bottom;
      //  background-size: contain;
      //}
      //
      //&_stag {
      //  background: url("./words_img/rumble/rumble_stag.svg") no-repeat center bottom;
      //  background-size: contain;
      //}
    }
  }
}

.slide-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.font-description {
  //position: absolute;
  text-align: center;
  margin: 68px auto 0;


  &_inactive {
    opacity: 0;
  }

  @include phone {
    width: 100%;
    min-width: 280px;
    margin: 30px auto 0;
  }

  @include tablet {
    width: 450px;
    margin: 68px auto 0;
  }


  &__name {
    @include body-md-bold;

    @include phone {
      @include body-md-bold;
    }
  }

  &__text {
    width: 100%;
    max-width: 450px;
    margin: 8px auto 0;

    text-align: center;

    @include body-md-medium;


    @include phone {
      @include body-sm-medium;
      max-width: 320px;
      margin: 8px auto 0;

      padding: 0 8px;
    }
  }

  @include animate(opacity);
}
