@import "mixins";

.slide {
  display: flex;
  //flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 100%;
  //width: 100%;


  &__content {
    display: block;
    position: absolute;
    //top: 40%;
    left: 50%;

    transform: translate(-50%, calc(40vh - 30px)) translateZ(0);

    @include desktop-xs {
      transform: translate(-50%, calc(25vh - 30px)) translateZ(0);
    }

    @include phone {
      transform: translate(-50%, calc(35vh - 30px)) translateZ(0);
    }


    @include desktop-lg {
      transform: translate(-50%, calc(45vh - 30px)) translateZ(0);
    }


    &_next-active {
      transform: translate(-50%, calc(-40vh + 30px));

      @include desktop-xs {
        transform: translate(-50%, calc(-25vh + 30px));
      }

      @include phone {
        transform: translate(-50%, calc(-35vh + 30px));
      }

      @include desktop-lg {
        transform: translate(-50%, calc(-45vh + 30px));
      }
    }

    &_prev-active {
      bottom: 0;
      opacity: 0;
    }

    $time: 0.3s;

    //will-change: transform;
    //transition: left $time ease-in-out, transform .7s ease-in-out, opacity $time ease-in-out;
  }

  &_hidden {
    opacity: 0;
  }

  &__image {
    position: relative;

    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 199px
    }

    &_rage, &_anorexy, &_rumble {
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
      background-position: center bottom;
      margin: 0 auto;
    }

    &_anorexy {
      //width: 703px;
      height: 160px;

      @include phone {
        //width: 200px;
        height: 80px;
      }

      &_roboto {
        background-image: url("./words_img/anorexy/anorexy_roboto.svg");

      }

      &_fence {
        background-image: url("./words_img/anorexy/anorexy_fence.svg");
      }

      &_palkerson {
        background-image: url("./words_img/anorexy/anorey_palkerson.png");
        //height: 199px;
      }

      &_norbert {
        background-image: url("./words_img/anorexy/anorexy_norbert.svg");
      }

      &_parmigiano {
        background-image: url("./words_img/anorexy/anorexy_parmigiano.svg");
      }

      &_fatum {
        background-image: url("./words_img/anorexy/anorexy_fatum.svg");
      }
    }

    &_rage {
      //width: 352px;
      height: 120px;

      @include phone {
        //width: 150px;
        height: 100px;
      }


      &_roboto {
        background-image: url("./words_img/rage/rage_roboto.svg");
      }

      &_edwin {
        background-image: url("./words_img/rage/rage_eldwin.svg");
      }

      &_pilar {
        background-image: url("./words_img/rage/rage_pilar.svg");
      }

      &_austin {
        background-image: url("./words_img/rage/rage_austin.svg");
      }

      &_vast {
        background-image: url("./words_img/rage/rage_vast.svg");
      }

      &_druk {
        background-image: url("./words_img/rage/rage_druk.svg");
      }
    }

    &_rumble {
      //width: 514px;
      height: 120px;

      @include phone {
        //width: 180px;
        height: 100px;
      }

      &_roboto {
        background-image: url("./words_img/rumble/rumble_roboto.svg");
      }

      &_didona {
        background-image: url("./words_img/rumble/rumble_didona.svg");
      }

      &_druk {
        background-image: url("./words_img/rumble/rumble_druk.svg");
      }

      &_karloff {
        background-image: url("./words_img/rumble/rumble_karloff.svg");
      }

      &_cstm {
        background-image: url("./words_img/rumble/rumble_cstm.svg");
      }

      &_stag {
        background-image: url("./words_img/rumble/rumble_stag.svg");
      }
    }
  }
}

.slide-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.font-description {
  //position: absolute;
  text-align: center;
  margin: 68px auto 0;


  &_inactive {
    opacity: 0;
  }

  @include phone {
    width: 100%;
    min-width: 280px;
    padding: 0 8px;
  }

  @include tablet {
    width: 450px;
  }


  &__name {
    @include body-md-bold;

    @include phone {
      @include body-md-bold;
    }
  }

  &__text {
    width: 100%;
    max-width: 450px;
    margin: 8px auto 0;

    text-align: center;

    @include body-md-medium;


    @include phone {
      @include body-sm-medium;
      max-width: 320px;
      margin: 8px auto 0;

      padding: 0 8px;
    }
  }

  @include animate(opacity);
}
