@import "colors";
@import "mixins";

.cover-font {
  position: relative;
  height: 100%;
  width: 100%;

  .cover-font-1, .cover-font-2 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    @include animate(opacity);
  }

  .cover-font-1 {
    opacity: 1;
  }
  .cover-font-2 {
    opacity: 0;
  }

  @include hover {
    .cover-font-1 {
      opacity: 0;
    }

    .cover-font-2 {
      opacity: 1;
    }
  }
}
