@import "mixins";

$time: 0.3s;

.slide {
  display: flex;
  align-items: flex-start;
  //justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 37%;
    min-height: 25rem;

    left: 50%;
    transform: translateX(-50%);



    &_horizontal {
      &_next {
        left: 0;
        transform: translateX(0);
        // background: red;
      }
      &_prev {
        left: calc(100%);
        // background: blue;
        transform: translateX(-100%);
      }
    }

    &_next-active {
      top: 0;
    }

    &_prev-active {
      bottom: 0;
      opacity: 0;
    }


    transition: left $time ease-in-out, top $time ease-in-out, transform $time ease-in-out, opacity $time ease-in-out;
  }

  &__hidden {
    opacity: 0;
  }

  &__girafe {
    width: 80px;
    height: 95px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("./img/girafe_img.svg");

    @include phone {
      width: 46px;
      height: 56px;
    }

    &_word {
      height: 115px;
      width: 429px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;

      @include phone {
        height: 51px;
        width: 200px;
      }

      &_roboto {
        background-image: url("./img/giraffe_roboto.svg");
      }

      &_austin {
        background-image: url("./img/giraffe_austin.svg");
      }

      &_circe {
        background-image: url("./img/giraffe_circe.png");
      }

      &_fence {
        background-image: url("./img/giraffe_fence.png");
      }

      &_norbert {
        background-image: url("./img/giraffe_norbert.svg");
      }

      &_vast {
        background-image: url("./img/giraffe_vast.png");
      }

    }
  }

  &__tarakan {
    width: 80px;
    height: 95px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("./img/tarakan.svg");

    @include phone {
      width: 46px;
      height: 56px;
    }

    &_word {
      width: 482px;
      height: 115px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;

      @include phone {
        height: 51px;
        width: 200px;
      }

      &_roboto {
        background-image: url("./img/tarakan_roboto.svg");
      }

      &_didona {
        background-image: url("./img/tarakan_didona.svg");
      }

      &_displace {
        background-image: url("./img/tarakan_displace.svg");
      }

      &_cstm {
        background-image: url("./img/tarakan_cstm.svg");
      }

      &_norbert {
        background-image: url("./img/tarakan_norbert.svg");
      }

      &_vast {
        background-image: url("./img/tarakan_vast.png");
      }
    }
  }
  &__elephant {
    width: 80px;
    height: 95px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("./img/elephant.svg");

    @include phone {
      width: 46px;
      height: 56px;
    }

    &_word {
      width: 330px;
      height: 140px;
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;

      @include phone {
        height: 51px;
        width: 200px;
      }

      &_roboto {
        background-image: url("./img/elephant_roboto.svg");
      }

      &_harry {
        background-image: url("./img/elephant_harry.png");
      }

      &_norbert {
        background-image: url("./img/elephant_norbert.svg");
      }

      &_normalidad {
        background-image: url("./img/elephant_normalidad.svg");
      }

      &_parmigiano {
        background-image: url("./img/elephant_parmigiano.svg");
      }

      &_peace {
        background-image: url("./img/elephant_peace.svg");
      }
    }
  }
  &__bear {
    width: 80px;
    height: 95px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("./img/bear_img.svg");

    @include phone {
      width: 46px;
      height: 56px;
    }

    &_word {
      height: 111px;
      width: 438px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;

      @include phone {
        height: 51px;
        width: 200px;
      }

      &_roboto {
        background-image: url("./img/bear_roboto.svg");
      }

      &_vast {
        background-image: url("./img/bear_vast.png");
      }

      &_kudryashev {
        background-image: url("./img/bear_kudryashev.svg");
      }

      &_misto {
        background-image: url("./img/bear_misto.svg");
      }

      &_playfair {
        background-image: url("./img/bear_playfair.svg");
      }

      &_amalta {
        background-image: url("./img/bear_amalta.svg");
      }
    }
  }

  &__theme {
    &_hidden {
      opacity: 0;
      height: 0;
    }
    transition: height $time ease-in-out, opacity $time ease-in-out;
  }
}

.font-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;

  &__name {
    @include body-md-bold;

    @include phone {
      @include body-sm-bold;
    }
  }

  &__text {
    max-width: 450px;
    text-align: center;
    @include body-md-medium;
    margin-top: 8px;

    @include phone {
      @include body-sm-medium;
      padding: 0 8px;
      max-width: 320px;
    }
  }
}
