@import "mixins";

$time: 0.3s;

.slide {
  display: flex;
  align-items: flex-start;
  position: relative;
  height: 100%;
  width: 100%;

  &__word {
    @include phone {
      margin-top: 10px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    min-height: 25rem;

    left: 50%;
    transform: translate(-50%, calc(26vh - 30px));
  }

  &__hidden {
    opacity: 0;
  }

  &__girafe {
    width: 80px;
    height: 95px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("./img/girafe_img.svg");

    @include phone {
      width: 46px;
      height: 56px;
    }

    &_word {
      height: 115px;
      width: 429px;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: contain;

      @include phone {
        height: 70px;
        width: 200px;
      }

      &_roboto {
        background-image: url("./img/giraffe_roboto.svg");
      }

      &_austin {
        background-image: url("./img/giraffe_austin.svg");
      }

      &_circe {
        background-image: url("./img/giraffe_circe.svg");
      }

      &_fence {
        background-image: url("./img/giraffe_fence.svg");
      }

      &_norbert {
        background-image: url("./img/giraffe_norbert.svg");
      }

      &_vast {
        background-image: url("./img/giraffe_vast.svg");
      }

    }
  }

  &__tarakan {
    width: 80px;
    height: 95px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("./img/tarakan.svg");

    @include phone {
      width: 46px;
      height: 56px;
    }

    &_word {
      width: 482px;
      height: 115px;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: contain;

      @include phone {
        height: 70px;
        width: 200px;
      }

      &_roboto {
        background-image: url("./img/tarakan_roboto.svg");
      }

      &_didona {
        background-image: url("./img/tarakan_didona.svg");
      }

      &_displace {
        background-image: url("./img/tarakan_displace.svg");
      }

      &_cstm {
        background-image: url("./img/tarakan_cstm.svg");
      }

      &_norbert {
        background-image: url("./img/tarakan_norbert.svg");
      }

      &_vast {
        background-image: url("./img/tarakan_vast.svg");
      }
    }
  }
  &__elephant {
    width: 80px;
    height: 95px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("./img/elephant.svg");

    @include phone {
      width: 46px;
      height: 56px;
    }

    &_word {
      width: 330px;
      height: 100px;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: contain;

      @include phone {
        height: 70px;
        width: 200px;
      }

      &_roboto {
        background-image: url("./img/elephant_roboto.svg");
      }

      &_harry {
        background-image: url("./img/elephant_harry.svg");
      }

      &_norbert {
        background-image: url("./img/elephant_norbert.svg");
      }

      &_normalidad {
        background-image: url("./img/elephant_normalidad.svg");
      }

      &_parmigiano {
        background-image: url("./img/elephant_parmigiano.svg");
      }

      &_peace {
        background-image: url("./img/elephant_peace.svg");
      }
    }
  }
  &__bear {
    width: 80px;
    height: 95px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("./img/bear_img.svg");

    @include phone {
      width: 46px;
      height: 56px;
    }

    &_word {
      height: 111px;
      width: 438px;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: contain;

      @include phone {
        height: 70px;
        width: 200px;
      }

      &_roboto {
        background-image: url("./img/bear_roboto.svg");
      }

      &_vast {
        background-image: url("./img/bear_vast.svg");
      }

      &_kudryashev {
        background-image: url("./img/bear_kudryashev.svg");
      }

      &_misto {
        background-image: url("./img/bear_misto.svg");
      }

      &_playfair {
        background-image: url("./img/bear_playfair.svg");
      }

      &_amalta {
        background-image: url("./img/bear_amalta.svg");
      }
    }
  }

  &__theme {
    &_hidden {
      opacity: 0;
      height: 0;
    }
    transition: height .2s ease-in-out, opacity $time ease-in-out;
  }
}

.font-description {
  //position: absolute;
  text-align: center;
  margin: 32px auto 0;


  &_inactive {
    opacity: 0;
  }

  @include phone {
    width: 100%;
    min-width: 280px;
    margin: 32px auto 0;
    padding: 0 8px;
  }

  @include tablet {
    width: 450px;
  }


  &__name {
    @include body-md-bold;

    @include phone {
      @include body-md-bold;
    }
  }

  &__text {
    width: 100%;
    max-width: 450px;
    margin: 8px auto 0;

    text-align: center;

    @include body-md-medium;


    @include phone {
      @include body-sm-medium;
      max-width: 320px;
      margin: 8px auto 0;

      padding: 0 8px;
    }
  }

  @include animate(opacity);
}
