@import "styles/mixins";

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container-v {
  .swiper-slide {
    height: calc(100% - 60px);
  }
}

.swiper-container-h {
  height: 100%;
  .swiper-slide {
    height: 100%;
  }
}

.swiper-container-composition {
  .swiper-slide {
    height: 100%;
  }
}

.h-frame {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  transition: transform .5s;
  box-sizing: border-box;
}

.h-frame-wrapper {
  /* Здесь можно задать мин. и макс. ширину блоку с содержимым */
}

.h-frame-pic {
  display: block;
}

.h-frame-content {
  opacity: 0;
  transition: opacity .3s;
}

.horizontal .swiper-slide-active .h-frame-content {
  opacity: 1;
}

.v-frame {
  height: 50vh;
}

.swiper-slide-active {
  z-index: 2;
}

.swiper-slide-prev,
.swiper-slide-next {
  z-index: 1;
}

