@import "colors";
@import "mixins";

$local-yellow: #FFD600;

.content {
  //display: flex;
  position: absolute;
  height: 100%;
  width: 100%;

  overflow: auto;

  background-color: $black;

  &__inner {
    margin-top: 20px;
    margin-bottom: 54px;
  }

  padding: 0 17px;

  @include phone {
    padding: 0 17px;
  }
}


.header {
  color: $local-yellow;

  font-weight: 700;


  @include mobile {
    margin-top: 12px;
    font-size: 40px;
    line-height: 47px;
  }

  @include tablet {
    margin-top: 36px;
    font-size: 78px;
    line-height: 82px;
  }
}

.columns {
  display: flex;
  flex-direction: row;

  @include phone {
    flex-direction: column;
  }
}

.column {
  margin-left: 116px;
  max-width: 332px;

  &:first-child {
    margin-left: 0;
  }

  @include mobile {
    margin-left: 0;

    margin-top: 16px;
    max-width: 100%;

    &:first-child {
      margin-top: 0;
    }
  }
}

.root-link {
  display: inline-block;
  padding-top: 11px;
  font-size: 19px;
  font-weight: 700;
  line-height: 29px;
  color: $white;

  @include hover {
    opacity: .8;
  }

  @include phone {
    font-size: 18px;
    line-height: 25px;
  }

  @include animate(opacity);
}

.section {
  position: relative;
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }

  &_mobile {
    @include desktop {
      display: none;
    }
  }

  &_desktop {
    @include mobile {
      display: none;
    }
  }

  &__title-without-link {
    position: relative;
    font-size: 19px;
    line-height: 29px;
    font-weight: 700;
    color: $local-yellow;

    @include phone {
      font-size: 19px;
      line-height: 29px;
    }
  }

  &__title {
    position: relative;
    font-size: 19px;
    line-height: 29px;
    font-weight: 700;
    color: $local-yellow;

    @include phone {
      font-size: 19px;
      line-height: 29px;
    }

    &::before {
      display: block;
      position: absolute;
      content: " ";
      height: 1px;
      width: 100%;
      background-color: $local-yellow;
      opacity: .5;
      bottom: 1px;
    }
  }

  &__items {
    margin-top: 10px;
  }

  &__item {
    margin-top: 16px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__item-title {
    display: inline-block;
    position: relative;
    font-weight: 700;
    font-size: 19px;
    line-height: 29px;
    color: $white;

    @include phone {
      font-size: 19px;
      line-height: 29px;
    }

    &_link {
      &::before {
        display: block;
        position: absolute;
        content: " ";
        height: 1px;
        width: 100%;
        background-color: $local-yellow;
        opacity: .5;
        bottom: 5px;
      }
    }
  }

  &__item-text {
    @include body-sm-medium;
    color: $white;

    @include phone {
      @include body-sm-medium;
    }
  }
}

.bureau {
  display: inline-block;
  position: relative;
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
  color: $white;
  margin-bottom: 38px;

  @include mobile {
    font-size: 11px;
    line-height: 14px;
  }
}


.arrow {
  height: 14px;
  width: 7px;
  display: inline-block;
  position: relative;
  top: 1px;
  vertical-align: middle;
  margin-left: 2px;

  @include phone {
    height: 14px;
    width: 7px;
    top: 1px;
    margin-left: 2px;
  }

  background-image: url("./img/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}


.shares {
  position: absolute;
  display: flex;
  bottom: 28px;
  right: 28px;

  &_desktop {
    @include phone {
      display: none;
    }
  }

  &_mob {
    @include phone {
      position: relative;
      margin-bottom: 48px;
      right: auto;
      bottom: 0;
    }

    @include desktop {
      display: none;
    }
  }


}
.share {
  height: 35px;
  width: 35px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  margin-left: 10px;
  cursor: pointer;

  @include hover {
    transform: scale(0.8);
  }

  @include animate(transform);

  &:first-child {
    margin-left: 0;
  }

  &_fb {
    background-image: url("./img/fb.svg");
  }

  &_it {
    background-image: url("./img/it.svg");
  }

  &_tg {
    background-image: url("./img/tg.svg");
  }

  &_twitter {
    background-image: url("./img/twitter.svg");
  }
}
