@import "colors";
@import "mixins";

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  background-color: $black;

  &__inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
  }

  @include phone {
    padding: 0 8px;
  }
}

.next-message {
  min-height: 196px;
  min-width: 697px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url("./img/next_message.svg");

  @include phone {
    //width: 100%;
    min-width: 272px;
    max-width: 100%;
  }
}

.text {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: $white;
  text-align: center;
  margin-top: 32px;
  max-width: 350px;

  @include phone {
    max-width: 100%;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
  }

  &_bottom {
    position: absolute;
    bottom: 72px;

    @media (max-height: 670px) {
      position: relative;
      bottom: 0;
    }

    @include phone {
      bottom: 72px;

      @media (max-height: 670px) {
        position: relative;
        bottom: 0;
      }
    }
  }
}

.share-icons {
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;

  @include phone {
    margin-top: 18px;
  }
}
.share {

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  margin-left: 18px;

  cursor: pointer;

  @include hover {
    transform: scale(0.9);
  }

  @include animate(transform);

  @include phone {
    margin-left: 5px;
  }

  &:first-child {
    margin-left: 0;
  }

  &_fb {
    background-image: url("./img/fb.svg");
  }

  &_it {
    background-image: url("./img/it.svg");
  }

  &_tg {
    background-image: url("./img/tg.svg");
  }

  &_twitter {
    background-image: url("./img/twitter.svg");
  }
}
