@import "mixins";

$color: #FF9CF5;

.icon-fb {
  position: relative;

  &_colored {
    .icon__background {
      fill: $color;
    }

    .icon__symbol {
      fill: #0066FF;
    }
  }

  &_white {
    .icon__background {
      fill: white;
    }

    .icon__symbol {
      fill: black;
    }
  }

  &_black {
    .icon__background {
      fill: black;
    }

    .icon__symbol {
      fill: white;
    }
  }
}
